<a href="https://colab.research.google.com/github/Malakondareddy8897/PythonBasics/blob/main/02_Series_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# pandas and numpy --> data science
# manipulate // analyse the data!!

# What is Pandas?

Pandas is one of the most important libraries of Python.
</br>
Pandas has data structures for data analysis. The most used of these are Series and DataFrame data structures. Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional, i.e. it consists of rows and columns.

To install Pandas, you can use "pip install pandas"

In [ ]:
import numpy  as np
import pandas as pd

In [ ]:
pd.__version__ # To print the installed vesion pandas

'2.2.0'

In [ ]:
# list,tuple, set, dict --> python data types
# int, bool, str, float --> data types
# numpy arrays --> numpy data type
# series, dataframe --> pandas data type

# Series Data Structure

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

In [ ]:
obj = pd.Series([1,"John",3.5,"Hey"])
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
obj[2]

3.5

In [ ]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [ ]:
obj[:3]
# 0,1,2,(3 not incl.)

0       1
1    John
2     3.5
dtype: object

In [ ]:
obj

0       1
1    John
2     3.5
3     Hey
dtype: object

In [ ]:
obj.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj2=pd.Series([1,"John",3.5,"Hey"],
               index=["a","b","c","d"])
obj2

a       1
b    John
c     3.5
d     Hey
dtype: object

In [ ]:
obj2["b"]

'John'

In [ ]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
obj2.values

array([1, 'John', 3.5, 'Hey'], dtype=object)

In [ ]:
score={"Jane":69, "Bill":80,"Elon":85,"Tom":75,"Tim":95}
print(type(score))

<class 'dict'>

In [ ]:
print(score)

{'Jane': 69, 'Bill': 80, 'Elon': 85, 'Tom': 75, 'Tim': 95}

In [ ]:
names=pd.Series(score) # Convert to Series
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
# names['tom']
# error !!!!!!

In [ ]:
names["Tim"]

95

In [ ]:
names['Elon']

85

In [ ]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
20 > 10

True

In [ ]:
names >= 85

Jane    False
Bill    False
Elon     True
Tom     False
Tim      True
dtype: bool

In [ ]:
names[names>=85]

Elon    85
Tim     95
dtype: int64

In [ ]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
"tom" in names

False

In [ ]:
"Tom" in names

True

In [ ]:
names

Jane    69
Bill    80
Elon    85
Tom     75
Tim     95
dtype: int64

In [ ]:
names/10

Jane    6.9
Bill    8.0
Elon    8.5
Tom     7.5
Tim     9.5
dtype: float64

In [2]:
print('hello')

hello